.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:sticky; */
    top:0;
    z-index: 3;
}

a {
    color:white;
}

.navLeft {
    display: flex;
    align-items: center;
}

.navLeft > a {
    margin: .5rem;
    font-size: larger;
    color: white;
}



.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: rgb(239, 164, 164);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(239, 164, 164);
}

.desktopBtn {
    height: 2rem;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

